body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

header {
    background-color: #b22222;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

nav a:hover {
    background-color: #575757;
}

section {
    padding: 40px;
    text-align: center;
}

h2 {
    color: #b22222;
}

.menu, .servicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    overflow: hidden; /* Evita que la imagen se salga del borde */
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover; /* Mantiene proporción */
    object-position: center; /* Centra el recorte */
    border-radius: 8px 8px 0 0;
}


.card h3 {
    margin: 10px 0;
    color: #333;
}

.card p {
    padding: 0 10px 20px;
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
